<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621017253161-afght9qaju8801odg3pfm191rpvvjjur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621017253161-afght9qaju8801odg3pfm191rpvvjjur</string>
	<key>API_KEY</key>
	<string>AIzaSyCxP91eknOU7f-BbJN2XNUR1x_jgoqVthU</string>
	<key>GCM_SENDER_ID</key>
	<string>621017253161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zendy.io.research</string>
	<key>PROJECT_ID</key>
	<string>upheld-now-291806</string>
	<key>STORAGE_BUCKET</key>
	<string>upheld-now-291806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621017253161:ios:06f73437d957f4f9d56338</string>
	<key>DATABASE_URL</key>
	<string>https://upheld-now-291806-default-rtdb.firebaseio.com</string>
</dict>
</plist>